@if (stats()) {
  <div class="stats-bar">
    <div class="stats-bar__item">
      <span class="stats-bar__value">{{ stats()!.totalMedia }}</span>
      <span class="stats-bar__label">{{ 'collection.stats.total' | transloco }}</span>
    </div>
    <div class="stats-bar__item">
      <span class="stats-bar__value">{{ stats()!.films }}</span>
      <span class="stats-bar__label">{{ 'collection.stats.films' | transloco }}</span>
    </div>
    <div class="stats-bar__item">
      <span class="stats-bar__value">{{ stats()!.tvShows }}</span>
      <span class="stats-bar__label">{{ 'collection.stats.tvShows' | transloco }}</span>
    </div>
    @if (stats()!.incompleteTvShowCount > 0) {
      <div class="stats-bar__item stats-bar__item--warning">
        <span class="stats-bar__value">{{ stats()!.incompleteTvShowCount }}</span>
        <span class="stats-bar__label">{{
          'collection.stats.incompleteTvShows'
            | transloco: { count: stats()!.incompleteTvShowCount }
        }}</span>
      </div>
    }
    <div class="stats-bar__item">
      <span class="stats-bar__value">{{ stats()!.watchedByCurrentUser }}</span>
      <span class="stats-bar__label">{{ 'collection.stats.watched' | transloco }}</span>
    </div>
    <div class="stats-bar__item">
      <span class="stats-bar__value">{{ stats()!.unwatchedByCurrentUser }}</span>
      <span class="stats-bar__label">{{ 'collection.stats.unwatched' | transloco }}</span>
    </div>
  </div>
}
