<div class="collection-filters">
  <p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input
      pInputText
      type="search"
      [placeholder]="'collection.searchPlaceholder' | transloco"
      [ngModel]="filters().search"
      (ngModelChange)="onSearchChange($event)"
      class="w-full"
    />
  </p-iconfield>

  <p-select
    [options]="typeOptions"
    [ngModel]="filters().type"
    (ngModelChange)="onTypeChange($event)"
    optionLabel="label"
    optionValue="value"
    [placeholder]="'collection.allTypes' | transloco"
    [showClear]="true"
    styleClass="w-full"
  />

  <p-select
    [options]="watchedOptions"
    [ngModel]="filters().isWatched"
    (ngModelChange)="onWatchedChange($event)"
    optionLabel="label"
    optionValue="value"
    [placeholder]="'collection.allStatuses' | transloco"
    [showClear]="true"
    styleClass="w-full"
  />
</div>
