:host {
  display: block;
  height: 100%;
}

.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.admin-content {
  flex: 1;
  padding-top: 1rem;
  overflow: auto;
}
